<div class="login-container">
  <div class="login-card">
    <p class="title">Login Form</p>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required formControlName="password">
      </div>
      <button type="submit">Login</button>
      
    </form>
  </div>
</div>
