ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f0f0f;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  button {
    color: #f3f1f1; /* White text color */
    background-color: black; /* Black background color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  button:hover {
    background-color: #7698ce;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }